body {
  display: grid;
  grid-template-rows: 5% 20% 45% 30%; /* Add a row for the title */
  grid-template-columns: 30% 35% 35%; /* Maintain three columns */
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  outline: 2px solid lime;
}

strong {
  font-size: 1.125em;
  font-weight: bold;
}

#title {
  grid-row: 1; /* Title occupies the first row */
  grid-column: 1 / span 3; /* Title spans all three columns */
  background-color: #fff; /* Optional: background for title */
  text-align: left;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #333; /* Text color */
  border-bottom: 1px solid #ccc; /* Optional: separator line */
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter-container {
  grid-row: 2 / span 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.filter-content {
  padding-left: 10px;
}

.filter-row {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-row .slider {
  width: 65%;
  height: 10px;
  /* padding: 1 10px; */
}

.filter-row .slider .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

.filter-row .slider .noUi-handle::before {
  display: none;
}

.filter-row .slider .noUi-handle::after {
  display: none;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

#map-container {
  grid-row: 2 / span 2; /* Map occupies second and third rows */
  grid-column: 2 / span 2;
  display: flex;
  width: 100%;
  height: 100%;
}

#map {
  flex-grow: 1;
  /* background-color: #d0e7f9; */
  /* height: 100%;
    width: 100%; */
}

.dc-table-group {
  visibility: collapse;
}

#table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fdf5e6;
  font-family: Arial, sans-serif;
}

#table th,
#table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#table tbody tr:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}

#table-container {
  grid-row: 4;
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
  background-color: #fdf5e6;
  max-height: 400px;
  overflow-y: auto;
  border: 2px dashed red; /* for debugging visibility */
}

#pagination {
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
}
